@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100vw !important;
  height: auto !important;
  overflow-x: hidden;
}

code {
  font-family: 'Raleway', sans-serif;
}

.layout {
  overflow-x: hidden;
}

.ant-layout-content {
  display: flex;
  background: white;
  justify-content: center;
}